{% extends "EmionRegisterBundle::layout.html.twig" %}

{% block emionregister_body %}
  {% if book is not null %}
    <h3>{{ book.name }} deleted !</h3> 
  {% else %}
    <h3>Can't delete this book</h3>
    <div>
      <p>No book here<p/>
      {{ include("::submitError.html.twig") }}
    </div>
  {% endif %}
{% endblock %}
