<div class="well">
  {{form(form)}}
 {# <div>
    <button class="btn btn-primary add-reference"><i class="glyphicon glyphicon-plus"></i> Add a reference</button>
  </div>
  <div id="test"></div> #}
</div>